<div class="registration-form-container">
  <div class="registration-graphic">
    <img
      class="registration-graphic-img"
      src="../../../assets/signup_Artboard.svg"
    />
  </div>
  <div class="registration-form">
    <h2 class="form-title">Join Legalink today!</h2>
    <mat-tab-group>
      <mat-tab label="Register as Client">
        <form action="" class="client-reg-form">
          <div class="name-container">
            <mat-form-field class="first-name">
              <mat-label>First Name</mat-label>
              <input matInput required />
            </mat-form-field>
            <mat-form-field class="last-name">
              <mat-label>Last Name</mat-label>
              <input matInput required />
            </mat-form-field>
          </div>
          <div class="contact-container">
            <mat-form-field class="email">
              <mat-label>Email</mat-label>
              <input matInput required />
            </mat-form-field>
            <mat-form-field class="phone-number">
              <mat-label>Phone Number</mat-label>
              <input matInput required />
            </mat-form-field>
          </div>
          <div class="password-container">
            <mat-form-field class="password">
              <mat-label>Password</mat-label>
              <input matInput required />
            </mat-form-field>
            <mat-form-field class="confirm-password">
              <mat-label>Confirm Password</mat-label>
              <input matInput required />
            </mat-form-field>
          </div>
          <div class="button-container">
            <button class="submit-btn" mat-flat-button>Submit</button>
            <a class="back-btn" mat-flat-button href="/">Back</a>
          </div>
        </form>
      </mat-tab>
      <mat-tab label="Register as Lawyer">
        <form action="" class="lawyer-reg-form">
          <div class="name-container">
            <mat-form-field class="first-name">
              <mat-label>First Name</mat-label>
              <input matInput required />
            </mat-form-field>
            <mat-form-field class="last-name">
              <mat-label>Last Name</mat-label>
              <input matInput required />
            </mat-form-field>
          </div>
          <div class="contact-container">
            <mat-form-field class="email">
              <mat-label>Email</mat-label>
              <input matInput required />
            </mat-form-field>
            <mat-form-field class="phone-number">
              <mat-label>Phone Number</mat-label>
              <input matInput required />
            </mat-form-field>
          </div>
          <div class="password-container">
            <mat-form-field class="password">
              <mat-label>Password</mat-label>
              <input matInput required />
            </mat-form-field>
            <mat-form-field class="confirm-password">
              <mat-label>Confirm Password</mat-label>
              <input matInput required />
            </mat-form-field>
          </div>
          <mat-form-field class="institution">
            <mat-label>Legal Education institution</mat-label>
            <input matInput required />
          </mat-form-field>
          <mat-form-field class="license-number">
            <mat-label>License Number</mat-label>
            <input matInput required />
          </mat-form-field>
          <app-category-autocomplete></app-category-autocomplete>
          <app-slider></app-slider>

          <mat-form-field class="bio">
            <mat-label>Bio</mat-label>
            <textarea matInput required></textarea>
          </mat-form-field>
          <div class="button-container">
            <button class="submit-btn" mat-flat-button>Submit</button>
            <a class="back-btn" mat-flat-button href="/">Back</a>
          </div>
        </form>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
