// Screen dimensions
$screen-width: 1280px;
$screen-height: 832px;

// color palette
$raisin-black: #212020;
$slate-gray: #646e80;
$isabelline: #f4efeb;
$bone: #f8efe0;
$khaki: #c5a074;
$bronze: #a18e7b;
$chocolate: #5b462d;
$dark-chocolate: #3d280f;

.registration-form-container {
  background-color: $khaki;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  .registration-graphic {
    width: 40%;
    padding-top: 2%;
    // .registration-graphic-img {
    //   position: fixed;
    //   top: 10%;
    //   width: 40%;
    // }
  }
  .registration-form {
    background-color: rgba(255, 255, 255, 0.534);
    width: 50%;
    height: 65vh;
    overflow-y: auto;
    border-radius: 5px;
    .form-title {
      text-align: center;
      color: $dark-chocolate;
    }
    .client-reg-form {
      padding: 5% 10%;
      .name-container,
      .contact-container {
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 10%;

        mat-form-field {
          min-width: 45%;
        }
      }
      .password,
      .confirm-password {
        width: 100%;
      }
      .submit-btn {
        margin-right: 10px;
        font-size: 0.95em;
      }
      .back-btn {
        text-decoration: none;
      }
    }
    .lawyer-reg-form {
      padding: 5% 10%;
      .name-container,
      .contact-container,
      .password-container {
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 10%;
        mat-form-field {
          min-width: 45%;
        }
      }
      .password,
      .confirm-password,
      .institution,
      .license-number,
      .lawyer-type,
      .fees,
      .bio {
        width: 100%;
      }
      .dp-upload {
        display: block;
        margin-bottom: 7%;
        width: 50%;

        .dp-upload-inp {
          margin-top: 15%;
          margin-bottom: 5%;
        }
      }
      .button-container {
        width: 100%;
        .submit-btn {
          font-size: 0.89em;
          margin-right: 10px;
        }
        .back-btn {
          text-decoration: none;
        }
      }
    }
  }
}

.success-message {
  background-color: $bronze;
  width: 100%;
  padding: 15px;
  margin-top: 5%;
  text-align: center;
  border-radius: 5px;
}

.submit-btn {
  background-color: $chocolate;
  color: white;
}
.back-btn {
  background-color: $slate-gray;
  color: white;
}
