// Screen dimensions
$screen-width: 1280px;
$screen-height: 832px;

// color palette
$raisin-black: #212020;
$slate-gray: #646e80;
$isabelline: #f4efeb;
$bone: #f8efe0;
$khaki: #c5a074;
$bronze: #a18e7b;
$chocolate: #5b462d;
$dark-chocolate: #3d280f;

.lawyer-dashboard-page-container {
  height: 97.7%;
  display: flex;
  .state-change-container {
    width: 24%;
    height: 100%;
    background-color: $dark-chocolate;
    padding-top: 1%;
    padding-bottom: 0;

    .state-title {
      color: $bone;
      text-align: center;
      margin-bottom: 10%;
    }

    .pending-btn,
    .active-btn,
    .archieved-btn {
      display: block;
      color: #b8acac;
      background-color: $dark-chocolate;
      width: 100%;
      margin: 0;
      border-radius: 0%;
      font-weight: 200;
      font-size: larger;
      height: 10%;
    }
    .btn-focus {
      background-color: $chocolate;
    }
  }
  .dashboard-container {
    width: 90%;
    padding: 1% 5%;
    .dashboard-title {
      color: $dark-chocolate;
    }
    .dashboard-table-container {
      margin-top: 2%;
      width: 100%;
      height: 70vh;
      background-color: white;
      overflow: auto;
    }
  }
}
