<div class="lawyer-dashboard-page-container">
  <div class="state-change-container">
    <h2>States</h2>
    <button
      class="pending-btn"
      [ngClass]="{ 'btn-focus': showPending }"
      mat-flat-button
      (click)="getFilteredTickets('pending')"
    >
      Pending
    </button>
    <button
      class="active-btn"
      [ngClass]="{ 'btn-focus': showActive }"
      mat-flat-button
      (click)="getFilteredTickets('active')"
    >
      Active
    </button>
    <!-- <button
      class="archieved-btn"
      [ngClass]="{ 'btn-focus': showArchieved }"
      mat-flat-button
      (click)="getFilteredTickets('archieved')"
    >
      Archieved
    </button> -->
  </div>
  <div class="">
    <h2>Dashboard</h2>
    <div class="dashboard-table-container">
      <app-dashboard-table
        [tickets]="filteredTickets"
        [isPending]="showPending"
      ></app-dashboard-table>
    </div>
  </div>
</div>
