<div class="example-card">
  <mat-card>
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{
          lawyer.firstName + ' ' + lawyer.lastName
        }}</mat-card-title>
        <mat-card-subtitle>
          <div class="info">
          <div >{{ lawyer.serviceCategory + ' Lawyer' }}</div>
          <div>{{ 'Consultation Fees: ৳' + lawyer.consultationFee }}</div>
          </div>
          <button mat-flat-button (click)="visitLawyer(lawyer._id)">
            Visit Profile
          </button>
        </mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
  </mat-card>
  <img class="card-img" mat-card-lg-image [src]="lawyer.profilePicUrl" />
</div>
