<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{
        lawyer.firstName + ' ' + lawyer.lastName
      }}</mat-card-title>
      <mat-card-subtitle>
        <div>{{ lawyer.serviceCategory + ' Lawyer' }}</div>
        <div>{{ 'Consultation Fees: ৳' + lawyer.consultationFee }}</div>
        <button mat-flat-button (click)="visitLawyer(lawyer._id)">Visit Profile</button>
      </mat-card-subtitle>

      <img mat-card-lg-image [src]="lawyer.profilePicUrl" />
    </mat-card-title-group>
  </mat-card-header>
</mat-card>
