<div class="tbl-header">
  <table cellpadding="0" cellspacing="0">
    <thead>
      <th>Date</th>
      <th>Request Title</th>
      <th>Client Name</th>
      <th>Client Email</th>
      <th>Status</th>
      <th *ngIf="!isArchived">Controls</th>
    </thead>
    <tbody>
      <tr *ngFor="let ticket of tickets">
        <td>{{ ticket.date }}</td>
        <td class="center">
          <span> {{ ticket.title }}</span
          ><button mat-icon-button (click)="openDialog(ticket)">
            <mat-icon>open_in_new</mat-icon>
          </button>
        </td>
        <td>{{ ticket.clientName }}</td>
        <td>{{ ticket.clientEmail }}</td>
        <td>{{ ticket.state }}</td>
        <td *ngIf="isPending">
          <button mat-icon-button (click)="handleUpdate(ticket._id, 'active')">
            <mat-icon>check_circle</mat-icon>
          </button>
          <button mat-icon-button (click)="handleDelete(ticket._id)">
            <mat-icon>cancel</mat-icon>
          </button>
        </td>
        <td *ngIf="isActive">
          <button
            mat-icon-button
            (click)="handleUpdate(ticket._id, 'archived')"
          >
            <mat-icon>inventory</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
