<table>
  <thead>
    <th>Date</th>
    <th>Client Name</th>
    <th>Request Title</th>
    <th>Status</th>
    <th>Controls</th>
  </thead>
  <tbody>
    <tr *ngFor="let ticket of tickets">
      <td>{{ ticket.createdAt }}</td>
      <td>{{ ticket.clientId }}</td>
      <td>{{ ticket.title }}</td>
      <td>{{ ticket.state }}</td>
      <td>
        <button
          mat-icon-button
          aria-label="Example icon button with a vertical three dot icon"
          (click)="handleAccept(ticket._id)"
        >
          ac
        </button>
        <button
          mat-icon-button
          aria-label="Example icon button with a vertical three dot icon"
          (click)="handleDelete(ticket._id)"
        >
          dl
        </button>
      </td>
    </tr>
  </tbody>
</table>
