// Screen dimensions
$screen-width: 1280px;
$screen-height: 832px;

// color palette
$raisin-black: #212020;
$slate-gray: #646e80;
$isabelline: #f4efeb;
$bone: #f8efe0;
$khaki: #c5a074;
$bronze: #a18e7b;
$chocolate: #5b462d;
$dark-chocolate: #3d280f;

.dialog-container {
  h2 {
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3%;
  }
  background-color: $bone;
  mat-dialog-content {
    display: block;
    width: 60vw;
    height: 60vh;
    mat-form-field {
      display: block;
      width: 100%;
    }
    .button-container {
      .submit-btn {
        background-color: $chocolate;
        color: white;
        margin-right: 15px;
      }
      .close-btn {
        background-color: $slate-gray;
        color: white;
      }
    }
    .msg {
      margin-top: 5%;
      font-size: 1.25em;
    }
  }
}
