<div *ngIf="lawyer" class="lawyer-profile-container">
  <div class="image-container">
    <h1>{{ lawyer.firstName + ' ' + lawyer.lastName }}</h1>
    <h2>{{ lawyer.serviceCategory + ' Lawyer' }}</h2>
    <img [src]="lawyer.profilePicUrl" />
  </div>
  <div class="profile-details">
    <h3>Consultation fee per session: {{ lawyer.consultationFee }}</h3>
    <h3>Email: {{ lawyer.email }}</h3>
    <h3>Phone: {{ lawyer.phone }}</h3>
    <h3>Institution of legal education: {{ lawyer.almaMater }}</h3>
    <h3>Bio</h3>
    <p>{{ lawyer.bio }}</p>
    <button mat-flat-button (click)="openDialog()">Request for service</button>
  </div>
</div>


