<div *ngIf="lawyer" class="lawyer-profile-container">
  <div class="image-container">
    <h1 class="name">{{ lawyer.firstName + ' ' + lawyer.lastName }}</h1>
    <h2 class="category">{{ lawyer.serviceCategory + ' Lawyer' }}</h2>
    <img [src]="lawyer.profilePicUrl" />
  </div>
  <div class="profile-details-container">
    <div class="profile-details">
      <div>
        <h3>Consultation fee per session:</h3>
        <span>BDT {{ lawyer.consultationFee }}</span>
      </div>
      <div>
        <h3>Email:</h3>
        <span>{{ lawyer.email }}</span>
      </div>
      <div>
        <h3>Phone:</h3>
        <span>{{ lawyer.phone }}</span>
      </div>
      <div>
        <h3>Institution of legal education:</h3>
        <span>{{ lawyer.almaMater }}</span>
      </div>

      <div><h3>Bio</h3></div>
      <p>{{ lawyer.bio }}</p>
      <div class="profile-button-container">
        <button mat-flat-button (click)="openDialog()">
          <span>Request for service</span> 
        </button>
        <a mat-flat-button routerLink="/client-search"><span>Back</span></a>
      </div>
    </div>
  </div>
</div>
