// Screen dimensions
$screen-width: 1280px;
$screen-height: 832px;

// color palette
$raisin-black: #212020;
$slate-gray: #646e80;
$isabelline: #f4efeb;
$bone: #f8efe0;
$khaki: #c5a074;
$bronze: #a18e7b;
$chocolate: #5b462d;
$dark-chocolate: #3d280f;

.login-form-container {
  background-color: $khaki;
  height: 91vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .login-graphic {
    width: 40%;
  }
  .login-form-holder {
    background-color: rgba(255, 255, 255, 0.534);
    width: 50%;
    border-radius: 5px;
    .form-title {
      text-align: center;
      color: $dark-chocolate;
    }
    .login-form {
      padding: 5% 10%;
      .password,
      .email {
        width: 100%;
      }
      .submit-btn {
        margin-right: 10px;
        font-size: 0.95em;
      }
      .back-btn {
        text-decoration: none;
      }
    }
  }
}
