<div class="login-form-container">
  <div class="login-graphic">
    <img
      class="login-graphic-img"
      src="../../../assets/login_page_Artboard.svg"
      alt="lady signing a form"
    />
  </div>

  <div class="login-form-holder">
    <h2 class="form-title">Login to Legalink</h2>
    <form action="" class="login-form">
      <mat-form-field class="email">
        <mat-label>Email</mat-label>
        <input matInput />
      </mat-form-field>
      <mat-form-field class="password">
        <mat-label>Password</mat-label>
        <input matInput />
      </mat-form-field>
      <div class="button-container">
        <button class="submit-btn" mat-flat-button>Submit</button>
        <a class="back-btn" mat-flat-button href="/">Back</a>
      </div>
    </form>
  </div>
</div>
