<div class="landing-page-container">
  <h1 class="hero-title">Find the right lawyer for yourself</h1>
  <div class="hero-body">
    <div class="hero-info-container">
      <p class="hero-info-text">
        Legalink is a platform for connecting with expert lawyers for legal
        assistance.
      </p>
      <a class="reg-button" mat-flat-button routerLink="/register"
        >Join Legalink</a
      >
    </div>
    <img class="hero-img" src="../../../assets/hero-image.svg" />
  </div>
</div>
