// Screen dimensions
$screen-width: 1280px;
$screen-height: 832px;

// color palette
$raisin-black: #212020;
$slate-gray: #646e80;
$isabelline: #f4efeb;
$bone: #f8efe0;
$khaki: #c5a074;
$bronze: #a18e7b;
$chocolate: #5b462d;
$dark-chocolate: #3d280f;

.landing-page-container {
  background-color: $bone;
  height: 90vh;
  .hero-title {
    margin: 0;
    padding-top: 3%;
    font-size: 60px;
    color: $dark-chocolate;
  }
  .hero-title,
  .hero-body {
    padding-left: 8.5%;
  }
  .hero-body {
    .hero-info-text {
      width: 35%;
      font-size: 30px;
      color: $dark-chocolate;
    }
    .lawyer-reg-button {
      width: 32%;
      height: 50px;
      text-decoration: none;
      background-color: $chocolate;
      color: white;
    }
    .hero-img {
      width: 50%;
      position: fixed;
      top: 25%;
      left: 40%;
    }
  }
}
